/* SCSS Variables */
:root {
  --PageDark: #416969;
  --SurfaceDark: #2c3d3d;
  --Highlight-Dark: #014863;
  --TitleColor: #141414;
  --HeaderColor: #363636;
  --TextDark: #ffffff;
  --NoSurfaceText: #353535;
  --LinkDark: #69cdff;
  --Tables-Dark: #f5e8a1;
  --SVG-Dark: #ffffff;
  --Table-Dark-Text: black;
  --CommCard-ViewPort-Height: 93vh;
}

/* Font Imports */
@font-face {
  font-family: "Concert One";
  src: url("../assets/fonts/ConcertOne-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Shrikhand";
  src: url("../assets/fonts/Shrikhand-Regular.ttf") format("truetype");
}

// Root Styles
* {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  box-sizing: border-box;
}

body, html {
  font-family: "Concert One", sans-serif;
  background-color: var(--PageDark);
  color: var(--TextDark);

  margin: 5vh 0 0 0;
  padding: 0 0 0 0;
  box-sizing: border-box;

  display: flexbox;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;

  height: fit-content;
  width: 100%;
  
  img {
    height: 50vh;
    width: auto;
  }
  ul{
    text-decoration: none;
  }
}

// Shark Logo
.SharkSplash {
  img {
    width: 95vw;
    height: auto;
  }
}

// Socials
.Socials {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;

  ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    width: max(10%, 100px);

    li {
      margin: 0 0.5rem; 
    }

    img {
      height: 4vh;
      width: auto;
      transition: box-shadow 0.3s ease; 

      &:hover {
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5); 
      }
    }
  }
}
// Hamburger Collapse
@media (max-aspect-ratio: 1/2) {
 .Socials {
    display: none;
 }
}

// PrirmeNav 
.PrimeNav, .prime-index, .fixed-nav {
  position: fixed;
  top: 0;
  height: 5vh;
  width: 100%;
  background-color: var(--SurfaceDark);

  margin: 0 0 0 0;
  padding: 0 0 0 0;

  font-family: 'Times New Roman', Times, serif;
  font-size: 5vmin;
  list-style: none;
  text-align: left;
  align-items: center;


  // 1% border black
  border: 1px solid black;

  li, ul, .router-link, a {
    display: flex;
    padding: 0 1rem 0 1rem;
    text-decoration: none;
    color: var(--TextDark);
    font-size: 98%;
    margin-top: -0.2vh;
    width: 90%;
  }
  
}
