/* Global Variables */
:root {
  --PageDark: #416969;
  --TextDark: #ffffff;
  --NoSurfaceText: #353535;
  /* For strong or emphasized words inside lines */
  --Highlight-Dark: #002736;
  /* When denoting text inside significant containers such as tables */
  --Tables-Dark: #ffffff;
  /* Vector Colours */
  --SVG-Dark: #ffffff;
  /* Rest is Self Explanatory */
  --SurfaceDark: #2c3d3d;
  --LinkDark: #69cdff;
  --TitleColor: #141414;
}
/* /Global Variables */
body {
  background-color: var(--PageDark);
}
text {
  font-size: 200%;
  margin-top: 100%;
}
.navbar {
  top: 0;
}
