/* SCSS Variables */
:root {
  --PageBG: #416969;
  --PrimarySurf: #2c3d3d;
  --AccentDark: #9b3a3a7e;
  --TitleTxt: #141414;
  --MainHeader: #363636;
  --TxtPrimary: #ffffff;
  --TxtSecondary: #353535;
  --LinkHL: #69cdff;
  --TableBG: #f5e8a1;
  --SVGColor: #ffffff;
  --TableTxt: black;
  --CommCardH: 93vh;
  --Border: black;
  --PageBGCon: #6d7a79;
}

/* Font Imports */
@font-face {
  font-family: "Concert One";
  src: url("../assets/fonts/ConcertOne-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Shrikhand";
  src: url("../assets/fonts/Shrikhand-Regular.ttf") format("truetype");
}

// Root Styles
* {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  box-sizing: border-box;
}

body {
  font-family: "Concert One", sans-serif;
  background-color: var(--PageBGCon);
  color: var(--TxtPrimary);

  padding:  0 0 0 0;
  margin: 0 0 0 0;
  box-sizing: border-box;

  display: flexbox;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;

  height: fit-content;
  width: 100%;
  
  img {
    height: 50vh;
    width: auto;
  }
  ul{
    text-decoration: none;
  }
}

.page {
  background-color: var(--PageBG);
  display: flexbox;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;

  margin: 5vh 1vw 0 1vw;
  padding: 0 0 0 0;
  // bevel the corners
  border-radius: 0.5rem;
}

// Shark Logo
.SharkSplash {
  img {
    width: 95vw;
    height: auto;
  }
}

// Socials
.Socials {
  display: flex;
  position: fixed;
  top: 0.5vh;
  right: 0;
  z-index: 3;

  ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    width: max(10%, 100px);

    li {
      margin: 0 0.5rem; 
    }

    img {
      height: 4vh;
      width: auto;
      transition: box-shadow 0.3s ease; 

      &:hover {
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5); 
      }
    }
  }
}
// Hamburger Collapse
@media (max-aspect-ratio: 1/2) {
 .Socials {
    display: none;
 }
}

// PrirmeNav 
.PrimeNav, .prime-index, .fixed-nav {
  position: fixed;
  top: 0;
  height: 5vh;
  width: 100%;
  background-color: var(--PrimarySurf);

  margin: 0 0 0 0;
  padding: 0 0 0 0;

  font-family: 'Concert One',;
  font-size: 5vmin;
  list-style: none;
  text-align: left;
  align-items: center;

  z-index: 2;

  li, ul, .router-link, a {
    display: flex;
    padding: 0 1rem 0 1rem;
    text-decoration: none;
    color: var(--TxtPrimary);
    font-size: 98%;
    margin-top: -0.2vh;
  }
  .nav-wrapper {
    width: 79%;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
  }
}

// SharkSplash
.SharkSplash {
  position: absolute;
  align-content: center;
  top: 40%;
  scale: 80%;
  text-align: center;

  h1 {
    font-size: 400%;
    margin: 2vh 0 0 0;
    width: 100%;
    height: 100%;
  }
}

// Carousel Promo
.CarouselPromo {
  margin: 95vh 0 0 1vw;

  .carousel-container {
    overflow-x: auto; 
    white-space: nowrap; 
    scrollbar-width: none; 
    -ms-overflow-style: none;
    
    &::-webkit-scrollbar {
      display: none; 
    }
  }

  .carousel {
    display: inline-flex; 
  }

  .carousel-item {
    display: inline-block; 
    text-align: center; 
    
  }

  .image-container {
    position: relative; 
    height: auto; 
    
    img {
      max-height: 40vh; 
      width: auto;
      margin: 0 1vw 0 1vw;
    }

    .status-overlay {
      position: absolute;
      top: 0;
      left: 0;
      background-color: red;
      color: white; 
      padding: 0.4em; 
      font-weight: bold; 
      opacity: 50%;
    }
  }
  p {
    font-size: 2em;
  }
}

// Our Mission
.OurMission {
  max-width: 60%;
  margin: 10vh 0 0 0;
  line-height: 1.5;
  padding: 1rem;

  h1 {
    text-align: left;
    margin-bottom: 1rem;
  }

  p {
    font-size: 2rem;
    text-align: justify;
    color: var(--TxtPrimary);
  }
}

// BottomPanel
.BottomPanel {
  background-color: var(--PrimarySurf);
  color: var(--TxtPrimary);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  // small padding separates from page: 
  padding: 2rem;

  .bottom-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 2rem;

    .advertise-section {
      background-color: var(--AccentDark);
      padding: 1rem;
      border-radius: 8px;
      width: 40%;
      text-align: center;

      .advertise-link {
        text-decoration: none;
        color: var(--TxtPrimary);

        &:hover {
          color: var(--LinkHL);
        }
      }

      .advertise-content {
        font-size: 1.2rem;
        line-height: 1.6;
        transition: transform 0.3s ease-in-out;

        &:hover {
          transform: scale(1.05);
        }
      }
    }

    .contact-section {
      width: 55%;

      h2 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          margin-bottom: 0.5rem;
          font-size: 1rem;
          line-height: 1.6;

          a {
            color: var(--LinkHL);
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

