/*#Global Variables */
:root {
  --PageDark: #416969;
  --TextDark: #ffffff;
  --NoSurfaceText: #353535;
  /* For strong or emphasized words inside lines */
  --Highlight-Dark: #002736;
  /* When denoting text inside significant containers such as tables */
  --Tables-Dark: #ffffff;
  /* Vector Colours */
  --SVG-Dark: #ffffff;
  /* Rest is Self Explanatory */
  --SurfaceDark: #2c3d3d;
  --LinkDark: #69cdff;
  --TitleColor: #141414;
}
/* Font Import */
  @font-face {
    font-family: 'Shrikhand';
    src: url('../assets/fonts/Shrikhand-Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: 'ConcertOne';
    src: url('../assets/fonts/ConcertOne-Regular.ttf') format('truetype');
  }
/* Basic Elements */
body {
  position: unset;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
  background-color: var(--PageDark);
}

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
}

.PrimeNav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--SurfaceDark);
  z-index: 1000;
}

.page {
  flex-grow: 1;
  overflow-y: auto;
  margin-top: 5vh; /* Adjust based on PrimeNav height */
  margin-bottom: 5vh; /* Adjust based on BottomPanel height */
}


/* Navigation */
.PrimeNav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 0.3em solid var(--NoSurfaceText);
  padding: 0.5em;
  position: fixed;
}
.BottomPanel {
  margin-bottom: 0;
  width: 100%;
  background-color: var(--SurfaceDark);
}
.PrimeNav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.PrimeNav li {
  margin-right: 1em;
}

.PrimeNav a {
  color: var(--TextDark);
  text-decoration: none;
}

.PrimeNav a:hover {
  color: var(--LinkDark);
}