/* Global Variables */
:root {
  --PageDark: #416969;
  --TextDark: #ffffff;
  --NoSurfaceText: #353535;
  /* For strong or emphasized words inside lines */
  --Highlight-Dark: #001e36;
  /* When denoting text inside significant containers such as tables */
  --Tables-Dark: #ffffff;
  /* Vector Colours */
  --SVG-Dark: #ffffff;
  /* Rest is Self Explanatory */
  --SurfaceDark: #115c17;
  --LinkDark: #69cdff;
  --TitleColor: #141414;
  /* Font Import */
  /* ShirkHand */
  .shrikhand-regular {
    font-family: "Shrikhand", serif;
    font-weight: 400;
    font-style: normal;
  }
  /* Concerto */
  .concert-one-regular {
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
}

/* Typography */
body {
  background-color: var(--PageDark);
}

Font1 {
  color: var(--TextDark);
  font-size: 5vw;
  font-family: "Shrikhand", serif;
}

Font2 {
  color: var(--TextDark);
  font-size: 4vw;
  font-family: "Concert One", serif;
}

Font3 {
  color: var(--TextDark);
  font-size: 3vw;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  filter: invert();
}

Tables {
  color: #093d0d;
  background-color: var(--Tables-Dark);
  font-size: 3vw;
  display: inline-table;
  width: 90%;
}

Surface {
  background-color: var(--SurfaceDark);
  display: inline-block;
  width: 80%;
}

/* Interaction */
.Link {
  color: var(--LinkDark);
  text-decoration: underline;
  font-weight: 900;
  letter-spacing: 0.1vw;
}
.Link:hover {
  font-style: italic;
  font-weight: 500;
  letter-spacing: 0.2vw;
}
.HighDarks {
  background-color: var(--HighDark-Dark);
  filter: saturate(100) invert();
}

/* Titles and Containers */
.SharkTitleContainer {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: row;

  left: 50%;
  top: 49%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  text-align: center;

  font-size: 600%;
  font-family: "Shrikhand", serif;
}

BigTitle{
  font-family: inherit;
}
SmallTitle{
  font-family: inherit;
  position: absolute;
  font-size: 25%;
  top: 13%;
  left: 84%;
}
.FinSVG {
  position: absolute;
  top: 25%;
  left: 53%;
  height: 47%;
  width: 10.5%;

  filter: brightness(0) saturate(100%) invert(38%) sepia(16%) saturate(812%) hue-rotate(131deg) brightness(92%) contrast(88%);
}

.HomeNav {
  position: absolute;
  display: inline-flex;
  align-items: center;
  flex-direction: row;

  left: -15%;
  top: 90%;
  margin: 0%;
  text-align: center;
  
  font-size: 25%;
  font-family: "Concert One";

  list-style-type: none;
}

ul {
  list-style: none;
  cursor: pointer;
  display: inline-flex;
  
  li > a {
    text-decoration: none;
    color: var(--SVG-Dark);
    margin-right: 0.5em;
    margin-left: 0.5em;
  }
  li > a:hover {
    text-decoration: underline;
  }
}