/* Global Variables */
:root {
  --PageDark: #416969;
  --TextDark: #ffffff;
  /* For strong or emphasized words inside lines */
  --Highlight-Dark: #001e36;
  /* When denoting text inside significant containers such as tables */
  --Tables-Dark: #ffffff;
  /* Vector Colours */
  --SVG-Dark: #ffffff;
  /* Rest is Self Explanatory */
  --SurfaceDark: #115c17;
  --LinkDark: #69cdff;
  --TitleColor: #141414;
  /* Font Import */
  /* ShirkHand */
  .shrikhand-regular {
    font-family: "Shrikhand", serif;
    font-weight: 400;
    font-style: normal;
  }
  /* Concerto */
  .concert-one-regular {
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
}

/* Basic Content */
body {
  background-color: var(--PageDark);
}

Font1 {
  color: var(--TextDark);
  font-size: 5vw;
  font-family: "Shrikhand", serif;
}

Font2 {
  color: var(--TextDark);
  font-size: 4vw;
  font-family: "Concert One", serif;
}

Font3 {
  color: var(--TextDark);
  font-size: 3vw;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  filter: invert();
}

Tables {
  color: #093d0d;
  background-color: var(--Tables-Dark);
  font-size: 3vw;
  display: inline-table;
  width: 90%;
}

Surface {
  background-color: var(--SurfaceDark);
  display: inline-block;
  width: 80%;
}

.Link {
  color: var(--LinkDark);
  text-decoration: underline;
  font-weight: 900;
  letter-spacing: 0.1vw;
}

.Link:hover {
  font-style: italic;
  font-weight: 500;
  letter-spacing: 0.2vw;
}

.HighDarks {
  background-color: var(--HighDark-Dark);
  filter: saturate(100) invert();
}

/* FlexBoxes and Special Containers */
.SharkTitleBox {
  display: flex;
  position: sticky;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: "Shrikhand";
  font-size: 7rem;
  margin-left: 10%;
  padding-top: 20%;

  @media (orientation: portrait) {
    margin-top: -50%;
    padding-top: 50%;
    padding-left: 5%;
  }

  height: 100%;
  width: 85%;

  SmallTitle {
    position: relative;
    font-size: 1.5rem;
    transform: translate(-6.5rem, -2.5rem);
  }

  .finVector {
    position: relative;
    transform: translate(-25rem, -0.2rem);
    height: 4.7rem;
    width: 4.2rem;
  }
}
